{% load static %}
<html>
<head>
  <title>Nexus Draft Assistant</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"></link>
  <link rel="stylesheet" href='{% static 'css/base_style.css' %}'></link>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script>
      let loadGameUrl = "{% url 'load_select' %}"
      let actionURL = "{% url 'update_select' %}"
  </script>
  <script async defer src="{% static 'js/select.js' %}"></script>
</head>

<body>
<div class="base-header">
  <h1><b>Nexus Draft Assistant</b></h1>
  <p>Draft Advice for Heroes of the Storm</p>
  <br>
</div>
<div class="home-body">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
