{% load static %}
<html>
<head>
  <title>Nexus Draft Calculator</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href='{% static 'css/base_style.css' %}'></link>
</head>

<body>
<div class="base-header">
  <h1><b>Nexus Calculator</b></h1>
  <p>Heroes of the Storm Draft Assistant</p>
  <br>
</div>
<div class="home-body">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
