{% extends 'base.html' %}

{% block content %}


{% load static %}

<form method="POST" autocomplete="off">
    {% csrf_token %}
    <table width="100%">
        {% for i in '123' %}
        <tr>
            <th>{{ ally_ban_form.as_p }}</th>
            <th width="100%"></th>
            <th>{{ opp_ban_form.as_p }}</th>
        </tr>
        {% endfor %}
    </table>
    <br>
    <table width="100%">
        {% for i in '12345' %}
            <tr>
                <th>{{ ally_select_form.as_p }}</th>
                <th width="100%"></th>
                <th>{{ opp_select_form.as_p }}</th>
            </tr>
        {% endfor %}
    </table>
</form>



    {% endblock %}